/*
 * Copyright (C) 2015-2017 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

#include "tl5728-idk.dts"

/ {
	model = "TL5728F-EVM";
};

&dra7_pmx_core {
	uart10_pins_default: uart10_pins_default {
		pinctrl-single,pins = <
			DRA7XX_CORE_IOPAD(0x3570, (PIN_INPUT_PULLUP | MUX_MODE8)) /* vin2a_d2.uart10_rxd */
			DRA7XX_CORE_IOPAD(0x3574, (PIN_INPUT_PULLUP | MUX_MODE8)) /* vin2a_d3.uart10_txd */
		>;
	};

	uart9_pins_default: uart9_pins_default {
		pinctrl-single,pins = <
			DRA7XX_CORE_IOPAD(0x3560, (PIN_INPUT_PULLUP | MUX_MODE7)) /* vin2a_hsync0.uart9_rxd (G1) */
			DRA7XX_CORE_IOPAD(0x3564, (PIN_INPUT_PULLUP | MUX_MODE7)) /* vin2a_vsync0.uart9_txd (G6) */
		>;
	};

	edt_ft5x06_pins: edt_ft5x06_pins {
		pinctrl-single,pins = <
			0x2e4 (PIN_INPUT_PULLUP | MUX_MODE14) /* mcasp1_axr12.gpio4_18 (E14) */
		>;
	};

	usb2_pins_default: usb2_pins_default {
		pinctrl-single,pins = <
			DRA7XX_CORE_IOPAD(0x3684, (PIN_OUTPUT_PULLUP | MUX_MODE0)) /* usb2_drvvbus.usb2_drvvbus */
		>;
	};
};

&i2c1 {
	status = "okay";
	clock-frequency = <400000>;

	touchscreen: edt-ft5306@38 {
		status = "okay";
		compatible = "edt,edt-ft5306", "edt,edt-ft5x06";
		pinctrl-names = "default";
		pinctrl-0 = <&edt_ft5x06_pins>;

		reg = <0x38>;

		interrupt-parent = <&gpio4>;
		interrupts = <18 0>;

		touchscreen-size-x = <800>;
		touchscreen-size-y = <480>;
	};
};

&i2c5 {
	status = "okay";
	clock-frequency = <400000>;

	pinctrl-names = "default";
	pinctrl-0 = <&i2c5_pins_default>;
};

&uart9 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart9_pins_default>;
};

&uart10 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart10_pins_default>;
};

&mcspi2 {
	status = "okay";

	ad5724r@0 {
		status = "disable";
	};

	spiflash@1 {
		compatible = "n25q256a";
		spi-max-frequency = <48000000>;

		reg = <1>;

		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <1>;
		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			label = "image";
			reg = <0x00000000 0x003B0000>;
		};

		partition@2 {
			label = "user-data";
			reg = <0x003B0000 0x01C50000>;
		};
	};
};

&qspi {
	m25p80@0{
		status = "disable";
	};
};

&usb2 {
	pinctrl-names = "default";
	pinctrl-0 = <&usb2_pins_default>;
};

&pruss_soc_bus1 {
	status = "okay";
};

&pruss_soc_bus2 {
	status = "okay";
};

&pruss2_mdio {
	status = "disable";
};
